- race_session_adapter.listing_simple_mode.sort_by {|s| s['team']}.group_by {|g| g['team']}.each do |team, entries|
  %h2= team
  .table-responsive
    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th
            Participant
          %th
            Laps
      - entries.each do |entry|
        %tbody
          %tr
            %td
              %strong
                = entry['name']
            %td
              %strong
                = entry['lap_count']
  .alwaysbreak