.row
  .col-md-4.col-md-offset-5
    - if !@style_setting.own_logo_image.blank?
      = image_tag(@style_setting.own_logo_image.thumb.url)

%h1
  =@current_race_session.title

= render file: '/shared/_table_race_results_simple_mode', locals: {race_session: @current_race_session, race_session_adapter: @current_race_session_adapter}
